body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #F9FAFB;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(http://fonts.googleapis.com/css?family=Roboto); /* Путь к файлу со шрифтом */
}

.head_top {
    position: relative;
    width: 100%;
    background: #3F51B5;
}

.in_head_top {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 30px;
}

.in_center_top_head {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo_icon {
    position: relative;
    width: 179px;
    height: 36px;
}

.top_ad_somethings {
    position: relative;
    width: 842px;
    height: 30px;
    background: #333333;
    opacity: 0.23;
    border-radius: 4px;
}

.top_head_right_icons {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.icon_logout {
    position: relative;
    max-width: 20px;
    max-height: 20px;
}

.icon_bell {
    position: relative;
    max-width: 20px;
    max-height: 20px;
    padding-right: 16px;
}

.left_menu {
    float: left;
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 270px;
    padding-left: 16px;
    height: 100%;
    bottom: 0;
    background: #FFFFFF;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 1px 0px rgba(63, 63, 68, 0.05);
}

.block_avatar_name {
    flex-direction: column;
    position: relative;
    display: flex;
    margin-left: 63px;
    margin-top: 24px;
    width: 112px;
    height: 156px;
}

.img_avatar {
    position: relative;
    margin-left: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-size: 100px 100px;
    background-image: url("avatar.jpg");
}

.box_text_name {
    position: relative;
    text-align: center;
    margin-top: 16px;
    width: 100%;
    height: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    letter-spacing: -0.05px;

    color: #3A3B3F;
}

.box_text_position {
    position: relative;
    margin-top: 4px;
    height: 16px;
    width: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;

    color: #9EA0A5;
}

.something_line_1 {
    position: relative;
    height: 1px;
    width: 238px;
    margin-top: 23px;
    background: #E4E7EB;
}

.something_line_2 {
    position: relative;
    height: 1px;
    width: 238px;
    margin-top: 40px;
    background: #E4E7EB;
}

.menu_group {
    position: relative;
    margin-top: 20px;
    width: 238px;
    height: 316px;
}

.item_menu_mouseout {
    padding-top: 5px;
    height: 53px;
    width: 236px;
    background: #FFFFFF;
    border-radius: 5px;
}

.item_menu_mouseover {
    padding-top: 5px;
    height: 53px;
    width: 236px;
    border-radius: 5px;
    background: #b3d4fc;
}

.right_text_support {
    margin-top: 24px;
    margin-left: 15px;
}

.main {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.right_content {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    float: left;
    padding-left: 0px;
}

.right_content_top {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #E4E7EB;
    /*padding-top: 20px;*/
    padding-left: 24px;
    height: 57px;
}

.highlighting {
    border-bottom: 2px solid #1665D8;
}

.right_content_bot {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    /*padding-left: 24px;*/
    padding-top: 12px;
    /*background: red;*/
}

.right_content_bot_ {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.right_content_top_button {
    box-sizing: border-box;
    padding-top: 21px;
    width: 90px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.05px;
    line-height: 100%;
    color: #3A3B3F;
    cursor: pointer;
}

.right_content_bot_left {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    /*width: 375px;*/
    box-sizing: border-box;
    border: 1px solid orange;
    margin-left: 24px;
}

.right_content_bot_right {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 28px;
    box-sizing: border-box;
    /*border: 1px solid blue;*/
}

#right_top_tabs {
    display: flex;
    position: relative;
    flex-direction: row;
}

.invisibility {
    display: none;
}

.form_of_upload_img {
    margin: 12px 0 12px;
    width: 375px;
    height: 279px;
    border: 1px solid green;
}

.form_send_setting {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 12px 0 12px;
    min-height: 100px;
    width: 910px;
    background: #FFFFFF;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 1px 0px rgba(63, 63, 68, 0.05);
    border-radius: 4px;
}

.form_send_setting header {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 71px;
    /*align-items: center;*/
    border-bottom: 1px solid #E4E7EB;
    /*text-align: center;*/
    padding-left: 24px;
    padding-top: 13px;
    /*border: 1px solid purple;*/
}

.form_send_setting article {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
}

.form_send_setting footer {
    width: 100%;
    height: 88px;
    border-top: 1px solid #E4E7EB;;
    /*border: 1px solid purple;*/
}

.form_send_setting_header_text {
    margin-top: 35px;
    width: 100%;
    text-align: center;
    /*height: 1px;*/
    /*border: 1px solid red;*/
}

h2 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #3A3B3F;
}

h3 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    padding-top: 1px;
    font-size: 14px;
    color: #66788A;
    padding-left: 16px;
}

.form_button:disabled,  .form_button:disabled:hover{
    height: 40px;
    min-width: 120px;
    background: rgba(98, 2, 238, 0.0001);
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 4px;
    margin: 24px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #1665D8;
}

.form_button {
    cursor: pointer;
    height: 40px;
    min-width: 120px;
    background: #3554ff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 4px;
    margin: 24px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form_button:hover {
    background: #b764ff;
    /*color: #FFFFFF;*/
}

.notifications_form_left_part {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    margin-left: 24px;
}

.notifications_form_right_part {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.form_notifications_label_text {
    cursor: pointer;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    /*font-weight: normal;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /*padding-left: 30px;*/
    color: rgba(0, 0, 0, 0.6);
}

.checkbox
{
    display: none;
}

.form_notifications_label_text::before{
    cursor: pointer;
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    /*margin-top: 10px;*/
    border-radius: 15%;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: -2px;
    margin-right: 6px;
    border: 2px solid #425A70;
}

.checkbox:checked + .form_notifications_label_text::before{
    background: url("Checkbox.svg");
    border: none;
    width: 18px;
    height: 18px;
}

table {
    border-spacing: 0;
}

td{
    padding-bottom: 10px;
}

.no_select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.label_footnote{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #66788A;
    margin-left: 26px;
}

.popup_message{
    background: #FFFFFF;
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /*width: 200px;*/
    /*height: 100px;*/
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5%;
}